# ignore ssh/.ssh/ssh_usernames
ssh/.ssh/ssh_usernames
ssh/.ssh/known_hosts
ssh/.ssh/known_hosts.old

# ingore device-specific fish files
fish/.config/fish/completions/
fish/.config/fish/conf.d
fish/.config/fish/functions/
fish/.config/fish/fish_variables

